<h1>Flight Info</h1>

<section id='info'>
  <div id='flight-<%= @flight.id %>'>
    <p>Number: <%= @flight.number %></p>
    <p>Departure Time: <%= @flight.departing_at %>
    <p>Departure City: <%= @flight.departure_city %></p>
    <p>Arrival City: <%= @flight.arrival_city %></p>
  </div>
</section>

<section id='adult-passengers'>
  <h3>Adult Passengers</h3>
  <p id='adult-passengers-avg-age'>Average Age: <%= @flight.adult_passengers_average_age %></p>
  <% @flight.adult_passengers.each do |passenger| %>
    <div id='passenger-<%= passenger.id %>'>
      <p><%= passenger.name %></p>
      <%= form_with url: booking_path, method: :delete, local: true do |form| %>
        <%= form.hidden_field :flight_id, value: @flight.id %>
        <%= form.hidden_field :passenger_id, value: passenger.id %>
        <%= form.button 'Remove From Flight' %>
      <% end %>
    </div>
  <% end %>
</section>
